/node_modules
.vscode/launch.json
.env
auth/beliba-homa-reports-firebase-shimon.json
/reports
/report_makers/users.js
/report_makers/users.txt
auth/Beliba Homa Report-arye.json
**/.DS_Store
*.lock
*-lock.json
report_makers/staticReports/reports/*
report_makers/staticReports/testLocalReport.js
report_makers/staticReports/allTutors.js
report_makers/staticReports/allTrainees.js